In [1]:
import pandas as pd

In [2]:
# read the file ../data/penguins_simple.csv
df = pd.read_csv("penguins_simple.csv", sep=";"); df.head()

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE

In [3]:
# Who is the 7th penguin?
df.iloc[7]

Species                Adelie
Culmen Length (mm)       41.1
Culmen Depth (mm)        17.6
Flipper Length (mm)       182
Body Mass (g)            3200
Sex                    FEMALE
Name: 7, dtype: object

In [4]:
# How many Gentoos are in the dataset?
df.groupby('Species').get_group('Gentoo').count()

Species                119
Culmen Length (mm)     119
Culmen Depth (mm)      119
Flipper Length (mm)    119
Body Mass (g)          119
Sex                    119
dtype: int64

In [5]:
# Who is the heaviest penguin
df[df['Body Mass (g)'] == df['Body Mass (g)'].max()]

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
231,Gentoo,49.2,15.2,221.0,6300.0,MALE

In [6]:
# What is the mean size of female penguins?
df.groupby('Sex').get_group('FEMALE')['Body Mass (g)'].mean()

3862.2727272727275

In [8]:
# How many penguins are heavier than 3kg?
df[df['Body Mass (g)'] > 3000].count()

Species                323
Culmen Length (mm)     323
Culmen Depth (mm)      323
Flipper Length (mm)    323
Body Mass (g)          323
Sex                    323
dtype: int64

In [9]:
# Select 3 random penguins.
df.sample(3, random_state=123)

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
105,Adelie,45.6,20.3,191.0,4600.0,MALE
152,Chinstrap,46.1,18.2,178.0,3250.0,FEMALE
280,Gentoo,43.5,14.2,220.0,4700.0,FEMALE