In [1]:
import pandas as pd
import numpy as np

In [3]:
old = pd.read_csv('../02_03/corpus_df.csv').drop(columns=['Unnamed: 0'])
# old.head()

new = pd.read_csv('collect_more_lyrics/more_indie_df.csv').drop(columns=['Unnamed: 0'])
# new.head()

                                              lyrics        artist  genre
0  I know a girl who thinks it goes she'll make y...  flaming lips  indie
1  All those bugs buzzin' round your head Well, t...  flaming lips  indie
2  Something in you, it jitters like a moth And I...  flaming lips  indie
3  Their wasn't any snow on Christmas eve and I k...  flaming lips  indie
4  You can walk among us, but you can't walk on b...  flaming lips  indie

In [3]:
corpus = pd.concat([old, new])
corpus.head()

                                              lyrics        artist  genre
0  I know a girl who thinks it goes she'll make y...  flaming lips  indie
1  All those bugs buzzin' round your head Well, t...  flaming lips  indie
2  Something in you, it jitters like a moth And I...  flaming lips  indie
3  Their wasn't any snow on Christmas eve and I k...  flaming lips  indie
4  You can walk among us, but you can't walk on b...  flaming lips  indie

In [4]:
corpus.tail()

                                                lyrics          artist  genre
448  ...This is the night of werewolves...The blood...  throwing muses  indie
449  Pull your lover ?round by the nose... You'll n...  throwing muses  indie
450  Wake up now I wanna wake up now I wanna wake w...  throwing muses  indie
451  Certain things I love, Spend my time I guess I...  throwing muses  indie
452  Strange time to be hazing me Breaking me shaki...  throwing muses  indie

In [5]:
corpus.artist.value_counts()

bad religion         230
ramones              212
sonic youth          173
rancid               135
sebadoh              126
pennywise            124
flaming lips         119
throwing muses       108
stereolab            107
husker du            105
nofx                 101
dead kennedys         89
pixies                78
social distortion     72
black flag            66
blonde redhead        55
afghan whigs          47
breeders              45
dinosaur jr           41
sex pistols           36
stooges               32
yo la tengo           22
mercury rev           13
slint                  7
pavement               3
Name: artist, dtype: int64

In [6]:
corpus.genre.value_counts()

punk     1097
indie    1049
Name: genre, dtype: int64

In [7]:
corpus.to_csv('corpus_data.csv')