# Data Round-Trip

In [1]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [2]:
df = pd.read_csv('large_countries_2015.csv')
df.head()

   Unnamed: 0    population  fertility      continent
0  Bangladesh  1.609956e+08       2.12           Asia
1      Brazil  2.078475e+08       1.78  South America
2       China  1.376049e+09       1.57           Asia
3       India  1.311051e+09       2.43           Asia
4   Indonesia  2.575638e+08       2.28           Asia

## Excel

* Write the data into an Excel file
* Read the data again

In [3]:
df.to_excel('large_countries_2015.xlsx', sheet_name = 'Sheet1')
df_excel = pd.read_excel('large_countries_2015.xlsx', index_col=0)
df_excel.head()

  Unnamed: 0.1  population  fertility      continent
0   Bangladesh   160995642       2.12           Asia
1       Brazil   207847528       1.78  South America
2        China  1376048943       1.57           Asia
3        India  1311050527       2.43           Asia
4    Indonesia   257563815       2.28           Asia

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [9]:
#

## SQL

Install the library SQLAlchemy:

In [10]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/mmuratardag/anaconda3/lib/python3.8/site-packages (1.3.20)

Create a connection to a new SQLite database:

In [ ]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [ ]:
df.to_sql('countries', db)

Check that a database file has been created in your current working directory:

In [ ]:
!ls

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*