### Generating Data for Recap Exercise on SQL
- **Tensor Tarragons**, *24.03.2021*

In [ ]:
# ! mv /Users/pawlodkowski/Downloads/ml-latest-small/ratings.csv .
# ! mv /Users/pawlodkowski/Downloads/ml-latest-small/movies.csv .

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.types import Integer, Float, String, Date

In [ ]:
USERNAME = "postgres"
PASSWORD = "titanic99"
HOST = "recap.cgn1yvegh1gq.eu-central-1.rds.amazonaws.com"
PORT = "5432"
DB = "postgres"
CONN_STRING = f'postgres://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/{DB}'
ENGINE = create_engine(CONN_STRING)

In [ ]:
ratings = pd.read_csv('ratings.csv')
ratings.columns = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

movies = pd.read_csv('movies.csv')
movies.columns = ['movie_id', 'title', 'genres']

In [ ]:
ratings.to_sql(name='ratings',
               con=ENGINE,
               index=False,
               if_exists='replace',
               method='multi',
               dtype= {'user_id': Integer,
                       'movie_id': Integer,
                       'rating': Float,
                       'timestamp': Date})

In [ ]:
movies.to_sql(name='movies',
               con=ENGINE,
               index=False,
               if_exists='replace',
               method='multi',
               dtype= {'movie_id': Integer,
                       'title': String,
                       'genres': String})

In [ ]:
with ENGINE.connect() as con:
    con.execute('ALTER TABLE "movies" ADD PRIMARY KEY ("movie_id");')

---

### Elevator Problem

People are queueing for a lift with a maximum weight capacity of 1000 lb. Given the table `queue` (below), write a query that will return the *full name* of the last person that will be able to board the lift without exceeding the maximum load.

queue:

| id   | first_name | surname | weight | position |
| ---- | ---------- | ------- | ------ | -------- |
| INT  | VARCHAR    | VARCHAR | INT    | INT      |

In [ ]:
from faker import Faker
import random

f = Faker()
ids = range(1,51)
positions = random.sample(ids, len(ids))

data={'id':ids, 
      'first_name':[f.first_name() for i in range(50)],
      'last_name':[f.last_name() for i in range(50)],
      'weight':[random.randint(80, 250) for i in range(50)],
      'position':positions}
    
df = pd.DataFrame(data)

df.to_sql(name='elevator',
               con=ENGINE,
               index=False,
               if_exists='replace',
               method='multi',
               dtype= {'id': Integer,
                       'first_name': String,
                       'last_name': String,
                       'weight': Integer,
                       'position': Integer}
         )