In [1]:
# !pip install pymongo
# only if we want to use it locally.

In [2]:
from pymongo import MongoClient
#equivalent of from sqlalchemy import create_engine

How to connect any database:
- host (localhost)
- port (27018)
- username, password...

In [3]:
client = MongoClient(host='localhost', port=1420)

In [4]:
db = client.tweets
# connect to the tweets database

In [5]:
db.collection_names()

<ipython-input-5-8ff4d2505e25>:1: DeprecationWarning: collection_names is deprecated. Use list_collection_names instead.
  db.collection_names()

['tweet_data']

In [6]:
import pandas as pd

In [7]:
mongo_df = pd.DataFrame(db.tweet_data.find())

In [9]:
mongo_df.head()
#and there's our data from the docker-compose pipeline!

,_id,username,text,data
0,602bded34bb0cf865bfd31fe,Margaret Shaw,Throw imagine Congress evening success no. Maj...,3
1,602bded64bb0cf865bfd31ff,Emily Green,Box law word visit. Church option southern ans...,10
2,602bded94bb0cf865bfd3200,Mrs. Erin Freeman,Already today per star call bill store. Good f...,4
3,602bdedc4bb0cf865bfd3201,Shirley Alvarado,Director appear fish success. Exist almost onc...,8
4,602bdedf4bb0cf865bfd3202,Benjamin Church,Stock day establish production. Million wrong ...,5