In [1]:
from pymongo import MongoClient

In [2]:
client = MongoClient(host='localhost', port=27017)

In [3]:
db = client.students

In [4]:
db.collection_names()

['spiced_students']

In [5]:
results = db.spiced_students.find()

In [6]:
import pandas as pd

In [7]:
pd.DataFrame(db.spiced_students.find())

                        _id     name        role    year       subjects
0  602bd4cc9e863a6f751b1b20     Adam     student  1996.0            NaN
1  602bd4ec9e863a6f751b1b21    Belle  instructor  1988.0            NaN
2  602bd5089e863a6f751b1b22  Charlie     student     NaN  [git, python]