In [15]:
import pandas as pd
import numpy as np

In [2]:
mdf = pd.read_csv('data/df_movieID_title.csv')
mdf.head()

   movieId                        title            title_only
0        1             Toy Story (1995)            Toy Story
1        3      Grumpier Old Men (1995)     Grumpier Old Men
2        6                  Heat (1995)                 Heat
3       47  Seven (a.k.a. Se7en) (1995)                Seven
4       50   Usual Suspects, The (1995)  Usual Suspects, The

In [3]:
# mdf['title'] = mdf['title'].astype(str)
# mdf['title_only'] = mdf['title_only'].astype(str)

In [4]:
# mdf['title'] = str(mdf['title'])
# mdf['title_only'] = str(mdf['title_only'])

In [5]:
# mdf.dtypes

In [6]:
# mdf['title'] == 'Toy Story (1995)'

In [7]:
# mdf.loc[mdf.title_only == 'Toy Story ']

In [8]:
# mdf.iloc[0,2]

In [9]:
# mdf.loc[mdf.title_only == 'Roommate, The ']

In [10]:
user_list = [('Notebook, The ', '1'),
             ('Road to Perdition ', '2'),
             ('Karate Kid, The ', '3'),
             ('Pulp Fiction ', '4'),
             ('Zoolander ', '4'),
             ('Majestic, The ', '5'),
             ('Notorious ', '2'),
             ('Monty Python and the Holy Grail ', '2'),
             ('Apocalypse Now ', '1')]

In [11]:
id_list = []
for movie in user_list:
    idx = mdf[mdf.title_only == movie[0]].index.tolist()[0]
    id_list.append(mdf.iloc[idx]['movieId'])
    
id_list

[8533, 5464, 2420, 296, 4816, 4994, 930, 1136, 1208]

In [25]:
rating_list = []
for rating in user_list:
    rat = rating[1]
    rating_list.append(rat)
    
rating_list

['1', '2', '3', '4', '4', '5', '2', '2', '1']

In [23]:
user_id_list = ['uid_string']
user_id_list = np.repeat(user_id_list,9)
user_id_list

array(['uid_string', 'uid_string', 'uid_string', 'uid_string',
       'uid_string', 'uid_string', 'uid_string', 'uid_string',
       'uid_string'], dtype='<U10')