In [1]:
import pandas as pd
df = pd.read_csv('penguins_simple.csv', sep=';')
df.head()

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
train, test = train_test_split(df, test_size=0.2, random_state=42)

In [4]:
train.shape, test.shape

((266, 6), (67, 6))

In [5]:
train.fillna(0.0, inplace=True)

/home/mmuratardag/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [6]:
train

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
224,Gentoo,40.9,13.7,214.0,4650.0,FEMALE
78,Adelie,37.3,17.8,191.0,3350.0,FEMALE
295,Gentoo,50.0,15.9,224.0,5350.0,MALE
17,Adelie,35.9,19.2,189.0,3800.0,FEMALE
24,Adelie,40.5,18.9,180.0,3950.0,MALE
...,...,...,...,...,...,...
188,Chinstrap,50.9,19.1,196.0,3550.0,MALE
71,Adelie,37.2,19.4,184.0,3900.0,MALE
106,Adelie,39.7,17.7,193.0,3200.0,FEMALE
270,Gentoo,45.5,15.0,220.0,5000.0,MALE
102,Adelie,38.1,17.0,181.0,3175.0,FEMALE

In [7]:
test

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
25,Adelie,39.5,16.7,178.0,3250.0,FEMALE
309,Gentoo,46.9,14.6,222.0,4875.0,FEMALE
73,Adelie,42.1,19.1,195.0,4000.0,MALE
195,Chinstrap,49.8,17.3,198.0,3675.0,FEMALE
57,Adelie,41.1,18.2,192.0,4050.0,MALE
...,...,...,...,...,...,...
280,Gentoo,43.5,14.2,220.0,4700.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
77,Adelie,35.1,19.4,193.0,4200.0,MALE
311,Gentoo,51.1,16.5,225.0,5250.0,MALE
60,Adelie,35.5,16.2,195.0,3350.0,FEMALE

In [8]:
X = train[['Culmen Length (mm)']]
y = train['Species']

In [9]:
X.shape, y.shape

((266, 1), (266,))

In [10]:
from sklearn.dummy import DummyClassifier

In [11]:
model = DummyClassifier(strategy='most_frequent') # most frequent is Adelie, another option is random here
model.fit(X, y)
model.score(X, y)

0.4323308270676692

In [12]:
test.fillna(0.0, inplace=True)

/home/mmuratardag/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [13]:
X_test = test[['Culmen Length (mm)']]
y_test = test['Species']

In [14]:
model.score(X_test, y_test)

0.4626865671641791

In [15]:
new = pd.DataFrame([[100,20]])
new

     0   1
0  100  20

In [16]:
model.predict(new)

array(['Adelie'], dtype='<U6')