In [12]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [10]:
p1 = "live to work"
p2 = "work to live"

cv = CountVectorizer()
result =cv.fit_transform([p1,p2]).todense()

#df = pd.DataFrame(result, index=[p1,p2])
df = pd.DataFrame(result)

In [11]:
df

   0  1  2
0  1  1  1
1  1  1  1

In [ ]:
# CVs are problematic because:
# 1: word order gets lost in CV
# 2: close CV vector row doesn't mean its gonna make sense

---

## Upsample your data

* Work out which lablels need upsampling
* For those labels, write a for loop that translates each text out of english into one randomly selected language, THEN back into english
* add those rows to your existing data

In [ ]:
# Read in our text data

In [ ]:
# check out all possible langauges
import googletrans
googletrans.LANGUAGES

In [13]:
df = pd.read_csv('/Users/tom_g/Downloads/tokenized_data.csv',encoding='utf8')
df.head()

   ind                                        description
0    0  sequel famous facebook smash hit million user ...
1    1  new story chapter energy good fighting series ...
2    2  legend hero come end fight shadow energy learn...
3    3  shadow fight hero new multiplayer fighting gam...
4    4  shadow force corrupt universe dankness power l...

In [14]:
# pick one example
english = df.iloc[0]['description']

In [19]:
# single text
from googletrans import Translator
translator = Translator()

In [26]:
#translate a sentence from english into french
french_ = translator.translate(english, dest='fr')
french_.text

#translate it back to english
english_ = translator.translate(french_.text, dest='en')

('sequel famous facebook smash hit million user shadow nail fighting mix rpg classic fighting game let equip countless character deadly weapon rare armor set feature dozen anime martial art technique crush enemy humiliate demon boss close door shadow take kick punch jump slash way victory lane find plunge epic combat sequence render amazingly realistic detail all new animation system devastate enemy deliciously intuitive control thanks all new combat interface design especially touch screens enter the underworld fight fearsome friend boss journey different world menacing demon pack action adrenaline fighting rpg immersive intriguing storyline customize fighter epic sword nunchacku armor costume magic power shadow combat the battle begins',
 'sequel famous facebook smash hit million user shadow fight nailbiting mix rpg classical fighting game let equip character countless lethal weapon rare armor set feature dozen lifelikeanimated martial art technique crush enemy humiliate demon boss close gate shadow take kick punch jump slash way victory way find plunge epic combat sequence render astonishingly lifelike detail allnew animation system devastate enemy delightfully intuitive control thank allnew fight interface design especially touchscreens enter underworld fight friend fearsome boss journey different world menacing demon action pack adrenalinefueled combat rpg immersive intriguing storyline customize fighter epic sword nunchacku armor suit magical power shadow fight battle begin')

---

In [ ]:
# BEFORE- you had english - 1 row in your dataframe
english
# AFTER - you have english AND english_.text - 2 rows in your dataframe
english_.text

#### How far can we go with this techique?
* probably you can't turn 1 datapoint into a million!
* instead downsample the large class 
* accept some class imbalance
* research other technqiues
* This might add 10x datapoints