In [1]:
names = ["alexandra",
         "anastasia", 
         "galiya", 
         "krystana", 
         "mahmoud", 
         "alphan", 
         "murat", 
         "müfit",
         "nader",
         "lena", 
         "pavel",
         "pietro",
         "pooja",
         "svenja",
         "bala"]

In [2]:
len (names)

15

## Warmup: how can we iterate over the items in the list?
    - different variants?

In [3]:
for name in names:
    print(name)

alexandra
anastasia
galiya
krystana
mahmoud
alphan
murat
müfit
nader
lena
pavel
pietro
pooja
svenja
bala

In [4]:
type(names)

list

In [5]:
for name in names:
    print(name, type(name))

alexandra <class 'str'>
anastasia <class 'str'>
galiya <class 'str'>
krystana <class 'str'>
mahmoud <class 'str'>
alphan <class 'str'>
murat <class 'str'>
müfit <class 'str'>
nader <class 'str'>
lena <class 'str'>
pavel <class 'str'>
pietro <class 'str'>
pooja <class 'str'>
svenja <class 'str'>
bala <class 'str'>

In [10]:
for i in range (0, len(names), 1):
        print(names[i], type(i))

alexandra <class 'int'>
anastasia <class 'int'>
galiya <class 'int'>
krystana <class 'int'>
mahmoud <class 'int'>
alphan <class 'int'>
murat <class 'int'>
müfit <class 'int'>
nader <class 'int'>
lena <class 'int'>
pavel <class 'int'>
pietro <class 'int'>
pooja <class 'int'>
svenja <class 'int'>
bala <class 'int'>

In [18]:
for i, n in enumerate(names):
    print(i, n)

0 alexandra
1 anastasia
2 galiya
3 krystana
4 mahmoud
5 alphan
6 murat
7 müfit
8 nader
9 lena
10 pavel
11 pietro
12 pooja
13 svenja
14 bala

In [28]:
i = 0
while i < len(names):
    print(names[i])
    i += 1

alexandra
anastasia
galiya
krystana
mahmoud
alphan
murat
müfit
nader
lena
pavel
pietro
pooja
svenja
bala

In [29]:
[p for p in names]

['alexandra',
 'anastasia',
 'galiya',
 'krystana',
 'mahmoud',
 'alphan',
 'murat',
 'müfit',
 'nader',
 'lena',
 'pavel',
 'pietro',
 'pooja',
 'svenja',
 'bala']

In [32]:
new_list = []

for n in names:
    new_list.append(n.upper())
    
new_list

['ALEXANDRA',
 'ANASTASIA',
 'GALIYA',
 'KRYSTANA',
 'MAHMOUD',
 'ALPHAN',
 'MURAT',
 'MÜFIT',
 'NADER',
 'LENA',
 'PAVEL',
 'PIETRO',
 'POOJA',
 'SVENJA',
 'BALA']

In [36]:
[n[0].upper() + n[1:] for n in names]

['Alexandra',
 'Anastasia',
 'Galiya',
 'Krystana',
 'Mahmoud',
 'Alphan',
 'Murat',
 'Müfit',
 'Nader',
 'Lena',
 'Pavel',
 'Pietro',
 'Pooja',
 'Svenja',
 'Bala']

In [40]:
# p_names = [n[0].upper() + n[1:] for n in names if n.startswith('p')]