In [1]:
import pandas as pd
import numpy as np

In [2]:
mdf = pd.read_csv('data/df_movieID_title.csv')
mdf.head()

   movieId                        title            title_only
0        1             Toy Story (1995)            Toy Story
1        3      Grumpier Old Men (1995)     Grumpier Old Men
2        6                  Heat (1995)                 Heat
3       47  Seven (a.k.a. Se7en) (1995)                Seven
4       50   Usual Suspects, The (1995)  Usual Suspects, The

In [10]:
user_list = [('Notebook, The ', '1'),
             ('Road to Perdition ', '2'),
             ('Karate Kid, The ', '3'),
             ('Pulp Fiction ', '4'),
             ('Zoolander ', '4'),
             ('Majestic, The ', '5'),
             ('Notorious ', '2'),
             ('Monty Python and the Holy Grail ', '2'),
             ('Apocalypse Now ', '1')]

In [11]:
id_list = []
for movie in user_list:
    idx = mdf[mdf.title_only == movie[0]].index.tolist()[0]
    id_list.append(mdf.iloc[idx]['movieId'])

id_list_string = [str(x) for x in id_list]

['8533', '5464', '2420', '296', '4816', '4994', '930', '1136', '1208']

In [12]:
rating_list = []
for rating in user_list:
    rat = rating[1]
    rating_list.append(rat)

rating_list_float = [float(x) for x in rating_list]

[1.0, 2.0, 3.0, 4.0, 4.0, 5.0, 2.0, 2.0, 1.0]

In [13]:
user_input_df = pd.DataFrame(list(zip(id_list_string, rating_list_float)), columns =['movieId', 'rating'])
user_input_df['userId'] = 'uid_string'
user_input_df = user_input_df[['userId','movieId', 'rating']]
user_input_df

       userId movieId  rating
0  uid_string    8533     1.0
1  uid_string    5464     2.0
2  uid_string    2420     3.0
3  uid_string     296     4.0
4  uid_string    4816     4.0
5  uid_string    4994     5.0
6  uid_string     930     2.0
7  uid_string    1136     2.0
8  uid_string    1208     1.0